* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    scroll-padding-top: 9.8rem;
    scroll-behavior: smooth;
}

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

header {
    background: oklch(41.029% 0.13473 326.545);
    padding-block: 1rem;
    color: rgb(255, 255, 255);

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.header-container {
    max-width: 120rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    
    ul {
        display: flex;
        gap: 4rem;
        list-style: none;
        

        a {
            color: rgb(255, 255, 255);
            text-decoration: none;
        }

        li:hover {
            transform: scale(1.1);
            font-weight: 700;
            transition: ease-in-out .4s;
        }
    }
}

main {
    background-color: rgb(245, 236, 248);
    min-height: calc(100svh - 9.8rem);
    padding-block: 3rem;
    text-align: center;
    margin-top: 9.8rem;
}

.main-container {
    max-width: 120rem;
    margin: 0 auto;

    section {
        margin-bottom: 4rem;
    }

    h2 {
        margin-bottom: 2rem;
    }

    p {
        max-width: 70rem;
        margin: 0 auto;
        line-height: 2.5rem;
    }

    div {
        background-color: rgb(43, 38, 38);
        width: 6rem;
        height: 6rem;
        margin-inline: auto;
        margin-bottom: 1rem;
    }

    .black {
        background-color: yellow;
    }
}

#relative {
    .black {
        position: relative;
        bottom: 3rem;
        right: 3rem;
    }
}

#absolute {
    position: relative;
     .black {
        position: absolute;
        top: 0;
        left: 10rem;
     }
}